# Network
MYSQL_PORT=3306
MYSQL_BIND_ADDRESS="127.0.0.1"

# Credentials
MYSQL_ROOT_PASSWORD="root"
MYSQL_USER="dev"
MYSQL_PASSWORD='p@$$w0rd'

# Server Options
# Timezone: SYSTEM/UTC/Asia/Dhaka/+06:00
MYSQL_TIMEZONE="SYSTEM"
# InnoDB Buffer Pool
MYSQL_BUFFER_POOL="256M"